/* page hero */
.page_hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}

.page_hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: black;
}

/* home hero */
